#headerText{
    color: teal;
    font-size: 1rem;
    font-weight: Bold;
}

#searchBox{
    width: 27vw;
    margin-left: 35vw;
    padding-top: 1.9vh;
    float:left;
}

#searchBar{
    border: 3px solid teal;
    border-radius: 15px;
}

#backdrop {
    filter: brightness(90%);
}

.card.small{
    height:175px;
}

i.icon-teal {
    color: teal;
}

.row{
    margin-bottom: 0px;
}

.modal{
    margin-top: 4%;
    max-height:100%;
    overflow:hidden;
    width:50%;
    top:1%; !important;
}

#loginHeader{
    margin-bottom: 50px;
    font-weight: bold;
}

#accLoginBtn, #accCreateBtn{
    width: 100%;
    height: 60px;
    margin-left:25%;
    margin-bottom:20px;
    font-size: 1.3rem;
}

#loginLine{
    margin-bottom:35px;
}

#loginLabel{
    font-size: 1.20rem;
}

#filterBox{
    width: 43vw;
    margin-left: 27vw;
    padding-top: 14vh;
    float:left;
}

#filterBar{
    border: 4px solid teal;
    border-radius: 15px;
    height:4.5vh;
    min-height: 42px;
    background: white;
    opacity: 0.99;
}

#filterButton{
    background-color: white;
    color: teal;
    font-size: 1rem;
    font-weight: Bold;
    text-transform: capitalize;
    /*margin-left: 84%;*/
    border: 3px solid teal;
    border-radius: 15px;
    height:4.5vh;
    min-height: 42px;
    z-index: 100;
    margin-top: -0.6vh;
    margin-right: -0.3vw;
}